@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One&display=swap');

.navbar , .logo__keyboard{
    display: flex;
    font-size: 45px;
    align-items: center;
}

.logo__keyboard {
    gap: 10px;
}

.navbar {
    margin-top: 5%;
    justify-content: space-between;
    width: 70%;
}

.logo {
    font-family: 'Alumni Sans Collegiate One', sans-serif;
}

img{
    transform: scale(1.2);
}