.timer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
}

.timer span {
    padding: 5px;
}

button {
    background-color: inherit;
    border: none;
}